{% block content 'master.html' %}
{% block content %}
    <section class="about-us py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <h2>About Us</h2>
                    <p class="lead">Welcome to YourEcommerce, your number one source for all things fashion, electronics, and more!</p>
                </div>
            </div>
            <!-- Team Members Section -->
            <div class="row text-center">
                {% for abou in About %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ abou.image.url }}" class="card-img-top" alt="{{ abou.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ abou.name }}</h5>
                            <p class="card-text">{{ abou.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
         </section>
         {% endblock %}