{% extends 'master.html'%}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
                <img src="{{ prod.image.url }}" class="card-img-top" alt="{{prod.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{prod.name}} ({{prod.price}})</h5>
                    <p class="card-text">{{ prod.description }}</p>
                    <a href="{% url 'productdetail' id=prod.id%}" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
    </div>
</div>
{%endblock%}